.Home {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(
            to top,
            rgba(20, 20, 20, 0.95) 10%,
            rgba(20, 20, 20, 0.75) 25%,
            rgba(20, 20, 20, 0.5) 50%,
            rgba(20, 20, 20, 0.75) 75%,
            rgba(20, 20, 20, 1) 100%
        ),
        url(./img/main.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.HeaderPlaying {
    position: fixed;
    z-index: 10;
    background: linear-gradient(
        to top,
        rgba(20, 20, 20, 0) 10%,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20, 0.75) 75%,
        rgba(20, 20, 20, 1) 100%
    );
}
.Text {
    /* position: absolute; */
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 125px;
    padding-bottom: 165px;
    /* top: 300px; */
    max-width: 800px;
}

.EmailInput input {
    padding-left: 14px;
    width: 500px;
    height: 65px;
    outline: none;
    border: none;
    border-bottom: 2px solid #e77b04;
}
.EmailInput input::placeholder {
    color: black;
    opacity: 50%;
    font-size: medium;
}
.EmailInput button {
    background-color: #e50914;
    color: white;
    height: 69px;
    border: none;
    cursor: pointer;
    font-size: 22pt;
}

.Item:hover .Caption {
    opacity: 1;
    z-index: 3;
    transition-delay: 0.5s;
    position: absolute;
    min-width: 380px;
    min-height: 380px;
    top: -120px;
    left: -65px;
    border-radius: 5px;
}
.Caption:hover .CaptionImage {
    /* position: relative; */
    width: 380px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.Caption {
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    background-color: #191919;
    width: 250px;
    height: 140px;
    color: #fff;

    transition: 0.3s;
}
.CaptionImage {
    width: 0;
    height: 0;
}

.InfoButtonHover {
    position: absolute;
    opacity: 0;
    background-color: #e6e6e6;
    width: 0x;
    height: 0px;
}
.InfoButton {
    cursor: pointer;
    position: relative;
    border: 2px solid grey;
    margin-left: 20px;
    background-color: #2a2a2a;
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 50%;
    outline: none;
}
.InfoButton:hover {
    border: 2px solid white;
    opacity: 90%;
}

.InfoButton:hover .InfoButtonHover {
    /* display: inline-block;  */
    position: absolute;
    max-width: 200px; 
    white-space: nowrap;
    display: table; 
    /* margin: auto; */
    padding: 0 20px 0 20px;
    text-align: center;
    color: black;
    border-radius: 5px;
    opacity: 70%;
    /* min-width: 140px; */
    height: 35px;
    bottom: 55px;
    left: -50%;
}

.TriHover{
    position: absolute;
    opacity: 0;
    width: 0x;
    height: 0px;
    
}
.InfoButton:hover .TriHover{
    opacity: 70%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e6e6e6;
    bottom: 45px;
    left: 8px;
}
