.Header {
    padding-top: 20px;
    display: flex;
    background-color: none;
}

.HeaderContents {
    justify-content:space-between;
    width:100%;
    margin-left: 56px;
    margin-right: 56px;
}

.HeaderContents img{
    padding-top: 8px;
}
.LoginButton{
    float: right;
}
.LoginButton button{
    background-color: #e50914;
    color: white;
    font-size: medium;
    width:84.2px;
    height: 34px;
    border: none;
    border-radius: 3px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top:7px;
    padding-bottom: 7px;
    margin-top:8px;
    cursor: pointer;
}
.NavIndex{
    list-style: none;
    margin: 3px 10px 0 10px;
    font-size: 14px;
    cursor: pointer;
}