.Footer{
    text-align: center;
    
    opacity: 50%;
    
    margin-top: 150px;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
    opacity: 50%;
    text-decoration: none;
}