.RegisterForm{
    margin: 0 auto;
    height: 340px;
    width: 340px;
    text-align: center;
    margin-top: 100px;
}

.RegisterInput{
    width:320px;
    height: 50px;
    margin-top: 13px;
    padding-left: 15px;
}

.RegisterInput ::placeholder{
    color: black;
    opacity: 50%;
}
.RegisterInput::-webkit-input-placeholder {
    color: black;
    opacity: 50%;
}
.PlanIndex{
    width:157.203px;
    padding:12px 16px 12px 16px;
    line-height:35px;
}